<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
   

    <div class="container">
        <main class="col-sm-8">
            @RenderBody()
        </main>
        <aside class="col-sm-4">
            <h3>Acesso Rápido</h3>
            <ul>
                <li>@Html.ActionLink("Cadastro de Regiões", "CadastroRegiao", "Regiao")</li>
                <li>@Html.ActionLink("Cadastro de Regiões De Fornecedores", "Index", "Regiao")</li>
            </ul>
        </aside>

        <hr />
     
    </div>

    <footer class="container">
        <p class="col-sm-4">     &copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>